---
---

aside#side-nav {
	border-radius: 5px;
	background: #FFFFFF;
	position: absolute;
	box-shadow: 0px 0px 20px rgba(0.1, 0.1, 0.1, 0.15);

	top: 125px;
	right: 12vw;
	width: 300px;

	margin-bottom: 50px;

	font-family: serif;

	& ul {
		padding: 10px;
		margin: 0px;

		& li {
			list-style: none;
			border-radius: 5px;
			
			& a {
				display: block;
				padding: 0.75em 1em;
				font-family: sans-serif;
				text-decoration: none;
				color: #333333;
			}

			&:hover {
				background: #EEEEEE;
			}
		}
	}
}