<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="/assets/css/home/header.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/postbar.css">
</head>
<body>

	<header>
		<nav>
			<div id="left">
				<h2 id="text-mark"><a href="/">joeldesante</a></h2>
				<div id="links">
					<ul>
						{% for page in site.pages %}
							{% if page.title %}
								<li><a href="{{ page.url }}">{{ page.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="social-links">
				<a href="https://github.com/joeldesante" target="_blank">
					<i class="fab fa-github"></i>
				</a>
				<a href="#">
					<i class="fab fa-discord"></i>
				</a>
			</div>
		</nav>
		<div id="header-content">
			<h1>Believe<br/>You Can Do.</h1>
		</div>
		<div id="curve-bg"></div>
	</header>
	
	<main>
		{% include postsbar.html %}
	</main>

</body>
</html>

